<div class="row">

	<div class="col-md-4">
		<%= image_tag @wine.wine_img.url(:wine_show), class: "wine_show" %>
	</div>

	<div class="col-md-8">

		<div class="wine-info">

			<h2 class="wine-title"><%= @wine.name %></h2>
			<h3 class="wine-origin"><span>From </span><%= @wine.origin %></h3>
			<h2 class="avg-rating">Average Rating</h2>
			<div class="average-review-rating" data-score=<%= @average_review%>></div>
			<span class="number-of-reviews">Based on <%= @wine.reviews.count %> reviews</span>
			<p class="wine-desc"><%= @wine.description %></p>
		
		</div>
	</div>

</div>

<div class="row">

	<div class="col-md-4">

		<div class="reviews">
			<!-- Where Reviews go -->
			<h1>Reviews</h1>
			<%= render @wine.reviews %>
				
			<div>
				<%= link_to "Add Review", new_wine_review_path(@wine) %>
			</div>
		</div>

	</div>
</div>

<div class="links btn-group">
	<%= link_to 'Home', root_path, class: "btn btn-custom" %>

	<% if user_signed_in? %>

		<% if @wine.user_id == current_user.id %>
			<%= link_to 'Edit', edit_wine_path(@wine), class: "btn btn-custom" %>
			<%= link_to 'Delete', wine_path(@wine), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-custom" %>
		<% end %>

	<% end %>
</div>
<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>